#about {
    height: 100vh;
    width: 86%;
    margin-left: auto;
    display: flex;
    background-color:  #f7f7f7;
}
.about-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-page__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
    margin-top: 62px;
    margin-bottom: 20px;
    }
}
.about-page__biography {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 75%;
}

@media (max-width: 900px) {
    #about {
        width: 100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  
}