#about {
    width: 86%;
    margin-left: auto;
    display: flex;
    background-color:  white;
}
.about-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-page__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
    margin-top: 62px;
    margin-bottom: 20px;
    }
}
.about-page__biography {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
    width: 70%;
    padding-bottom: 62px;
    p {
        font-size: 16px;
        text-align: left;
    }
}
.about-page__photo {
    img {
        border-radius: 50%;
        max-width: 35%;
    }
   
}

@media (max-width: 900px) {
    #about {
        width: 100%;
    }
    .about-page__header {
        h2 {
            margin-top: 10px;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #about {
    height: 100%;
  }
  .about-page__biography {
        padding: 0 10px;    
  }
  
}