#contact {
    height: 100vh;
    width: 86%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    background-color:  #f7f7f7;
}
.contact-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
  margin-top: 62px;
  margin-bottom: 20px;
  }
}

.contact-page__mainContent {
  display: flex;
  justify-content: center;
  .contact-page__emailInfo {
    width: 40%;
    text-align: center;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-page__form {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: 40%;
    h3 {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      font-family: 'Poppins', sans-serif;
      input {
        border-radius: 4px;
        border: 1px solid grey;
        margin: 10px 0;
        padding: 5px;
        input:focus {
          border: 1px solid black;
        }
      }
      textarea {
        height: 200px;
        border-radius: 4px; 
        border: 1px solid grey; 
        margin: 10px 0;
        padding: 5px;
      }
      input[type="submit"] {
        background-color: rgba(231, 190, 3, 0.9);
        color: white;
        font-size: 16px;
        border-radius: 4px;
        height: 38px;
        border: none;
        transition: 0.7s;
      }
       input[type="submit"]:hover {
         color: black;
         background-color: gold;
      }
    } 
  }
}

@media (max-width: 900px) {
  #contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .contact-page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      margin-top: 0;
    }
  }
  .contact-page__mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-page__emailInfo {
      margin-right: 0;
    }
    h4 {
      display: none;
    }
    p {
      display: none;
    }
    .contact-page__form {
      margin-left: 0;
      width: 80%;
      form {
        textarea {
          height: 160px;
        }
      }
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .sidebar-bottom__icons a i {
    padding: 0 10px;
  }
}

@media (max-width : 380px) { 
  .contact-page__form form {
    margin: 0;
  }
}