#skills {
		width: 86%;
		margin-left: auto;
		display: flex;
		background-color:  #f7f7f7;
}

.skills-page {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.skills-page__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
	h2 {
	margin-top: 62px;
	margin-bottom: 20px;
	}
}

.skills-page__icons {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;  
	margin-top: 20px;
	padding-bottom: 62px;	
	i {
		font-size: 100px;
		color: black;
		width: 20%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		margin: 10px;
		box-shadow: 1px solid grey;
	}
}
.skills-page__icons i a:hover {
	box-shadow: 2px 2px 2px grey;
}

@media (max-width: 900px) {
	#skills {
		width: 100%
	}  
	.skills-page__icons i {
		font-size: 80px;
		width: 20%;
	}
	.skills-page__header {
		h2 {
			margin-top: 10px;
			text-align: center;
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.skills-page__icons {
		margin-top: 10px;
		i {
			width: 35%;
		}
	}

}