#works {
    height: 100vh;
    width: calc(86%);
    margin-left: auto;
    display: flex;
    background-color:  #f7f7f7;
}
.works-page {
  width: 100%;
}
.works-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
  margin-top: 62px;
  margin-bottom: 20px;   
  }
}
.works-page__example {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 72px;
  img {
    height: 331px;
    width: 44%;
  }
}

.works-page__example-information {
  line-height: 24px;
  width: 35%;
}


.carousel-cell {
  width: 100%; /* full width */
  height: 80%; /* height of carousel */
  margin-right: 10px;
}