#works {
    height: 100vh;
    width: 86%;
    margin-left: auto;
    display: flex;
    background-color:  none;
}
.works-page {
  width: 100%;
}
.works-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
  margin-top: 62px;
  margin-bottom: 20px;   
  }
}
.works-page__example {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  img {
    height: 331px;
    width: 44%;
    border-radius: 4px;
  }
}
.works-page__example-information {
  line-height: 24px;
  width: 35%;
}
.flickity-page-dots .dot {
  display: none;
}

.flickity-prev-next-button.previous {
  display: none;
}
.carousel-cell {
  width: 100%; /* full width */
  margin-right: 10px;
}

@media (max-width: 900px) {
  #works {
    width: 100%;
  
  }
  .works-page__header {
    h2 {
      margin-top: 10px;
    }
  }
  .works-page__example {
    display: flex;
    flex-direction: column;
    // margin-top: 50px; 
    img {
      height: auto;
      width: auto;
    }
  }  
  .works-page__example-information {
    width: auto;
    text-align: center;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .works-page__example {
    
    img {
      height: 200px;
      width: 200px;
    }
  }
}